@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --footer__address-footer-color: rgba(255, 255, 255, 0.6);
  /* задержка */
  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo__highlight {
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer .team__social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .team__social-link:hover, .footer .team__social-link:focus {
  background-color: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.footer .team__social-icon {
  fill: var(--primary-white-color);
}

.footer .footer__social-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer__social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header__border {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 93px;
}

@media screen and (max-width: 767.98px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: block;
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contact__list:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__list {
    margin-right: 50px;
  }
}

.contact__list:last-child {
  margin-right: 0;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-left: 10px;
    padding-bottom: 32px;
  }
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.banner {
  padding: 118px 0px;
  text-align: center;
  background: #2f303a;
  color: var(--primary-white-color);
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__title {
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .banner {
    padding: 200px 0px;
  }
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.features {
  text-align: center;
}

.features__item {
  margin-bottom: 30px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__icon {
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.features__description {
  font-size: 14px;
  text-align: left;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
  .features__item {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .features__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin: 0px 30px 0px 0px;
  }
  .features__item:last-child {
    margin-right: 0;
  }
}

.providing {
  padding-top: 0px;
}

@media screen and (max-width: 1199.98px) {
  .providing {
    display: none;
  }
}

.providing__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.providing__card {
  position: relative;
  margin-right: 30px;
}

.providing__card:last-child {
  margin-right: 0;
}

.providing__card-description {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__wrapper {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team__card:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__card {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  .team__card:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin: 15px;
    margin: 0px 30px 0px 0px;
  }
  .team__card:last-child {
    margin-right: 0;
  }
}

.team__card-wrapper {
  padding: 30px 0px;
}

.team__card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team__card-discription {
  margin-bottom: 16px;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-wrapper {
  margin-right: 10px;
}

.team__social-wrapper:last-child {
  margin-right: 0px;
}

.team__social-wrapper:hover {
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team__social-icon {
  width: 20px;
  height: 20px;
  margin: auto;
  fill: #afb1b8;
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.team__social-wrapper:hover .team__social-icon,
.team__social-wrapper:focus .team__social-icon {
  fill: var(--primary-white-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.partners-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .partners__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.partners__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.partners__card:hover {
  cursor: pointer;
  border-color: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.partners__card:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .partners__card {
    -ms-flex-preferred-size: 226px;
        flex-basis: 226px;
  }
  .partners__card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .partners__card {
    -ms-flex-preferred-size: 170px;
        flex-basis: 170px;
    margin-bottom: 0;
  }
}

.partners__icon {
  fill: #afb1b8;
}

.partners__card:hover .partners__icon,
.partners__card:hover .partners__icon {
  fill: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item:nth-child(n + 4) {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item {
    margin-bottom: 0px;
  }
}

.filter__btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

/* card-collection  */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio__card:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.portfolio__link {
  display: block;
  width: 370px;
  border: 1px solid #eeeeee;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.portfolio__overlay-text {
  padding: 24px;
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.55;
}

.portfolio__container {
  padding: 20px 24px;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio__discription {
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio__link:hover .portfolio__overlay-wrapper,
.portfolio__link:focus .portfolio__overlay-wrapper {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

/* modal__container */
.modal__container {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-property), visibility var(--transition-property);
  transition: opacity var(--transition-property), visibility var(--transition-property);
}

.modal__container.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: #2196f3;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  text-align: left;
  text-transform: none;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.modal__icon {
  position: absolute;
  top: 28px;
  left: 12px;
}

.modal__textarea {
  margin-bottom: 20px;
}

.inner__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.inner__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inner__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inner__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.inner__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
  border-radius: 2px;
}

.agreement__input:checked + .agreement__checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.agreement__link {
  color: #2196f3;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.modal__label:hover .modal__input {
  border: 1px solid #2196f3;
}

.modal__input:focus {
  border: 1px solid #2196f3;
}

.modal__input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}

.modal__label:hover .modal__icon,
.modal__input:focus + .modal__icon,
.modal__input:not(:placeholder-shown) + .modal__icon {
  fill: #2196f3;
}

/* footer  */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer__mobile {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__content {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__content {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__link {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link .footer__address {
  text-decoration: inherit;
  color: var(--primary-white-color);
}

.footer__link .email,
.footer__link .tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: inherit;
}

.footer__link .email:hover, .footer__link .email:focus,
.footer__link .tel:hover,
.footer__link .tel:focus {
  color: var(--accent-color);
  -webkit-transition: var(--transition-property);
  transition: var(--transition-property);
}

.footer__social-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__social-list {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer__form-wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__form-wrapper {
    text-align: left;
    margin-left: 93px;
  }
}

.footer__form-title {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .footer__form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__form-email {
  display: block;
  margin: 0px auto;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 1200px) {
  .footer__form-email {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer__form-button {
  padding: 10px 28px;
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .footer__form-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 12px;
  }
}

.footer__form-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */