@import './utils/utilite';
@import './utils/variables';
@import './utils/general';
@import './components/header';
@import './components/hero';
@import './components/features';
@import './components/providing';
@import './components/team';
@import './components/customers';
@import './components/button-filter';
@import './components/card-collection';
@import './components/modal-container';
@import './components/footer';
