/* card-collection  */
.portfolio {
   display: flex;
   flex-wrap: wrap;
   margin-right: -30px;
   margin-bottom: -30px;

   &__card {
      margin-right: 30px;
      margin-bottom: 30px;
   }
   &__card:nth-child(n + 7) {
      margin-bottom: 0;
   }
   &__link {
      display: block;
      width: 370px;
      border: 1px solid #eeeeee;

      &:hover,
      &:focus {
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
         transition: var(--transition-property);
      }
   }
   &__overlay {
      position: relative;
      overflow: hidden;
   }
   &__overlay-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      transition: transform 250ms ease;
   }
   &__overlay-text {
      padding: 24px;
      color: var(--primary-white-color);
      font-size: 18px;
      line-height: 1.55;
   }
   &__container {
      padding: 20px 24px;
   }
   &__title {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--secondary-text-color);
   }
   &__discription {
      font-size: 16px;
      color: var(--primary-text-color);
      line-height: 1.87;
      letter-spacing: 0.03em;
   }
}

.portfolio__link:hover .portfolio__overlay-wrapper,
.portfolio__link:focus .portfolio__overlay-wrapper {
   transform: translatey(-100%);
}
