/* modal__container */
.modal__container {
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.2);
   opacity: 1;
   visibility: visible;
   transition: opacity var(--transition-property), visibility var(--transition-property);
   &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
   }
}
.modal__close-button {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   background-color: var(--primary-white-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
   cursor: pointer;
}

.modal__close-button:hover,
.modal__close-button:focus {
   fill: #2196f3;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 528px;
   padding: 40px;
   text-align: left;
   text-transform: none;
   background-color: var(--primary-white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   &__title {
      margin-bottom: 12px;

      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.03em;
      color: #212121;
   }
   &__label {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: #757575;
   }
   &__input {
      margin-top: 4px;
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: transparent;
   }
   &__icon {
      position: absolute;
      top: 28px;
      left: 12px;
   }
   &__textarea {
      margin-bottom: 20px;
   }
}
.inner__textarea {
   margin-top: 4px;
   padding: 12px 16px;
   resize: none;

   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.01em;

   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   &::placeholder {
      color: rgba(117, 117, 117, 0.5);
   }
}

.agreement__wrap {
   display: flex;
   align-items: center;
   justify-content: center;

   margin-bottom: 30px;

   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;

   color: #757575;
}

.agreement__checkbox {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 16px;
   height: 16px;
   margin-right: 7px;
   border-width: 2px;
   border-style: solid;
   border-color: #212121;

   border-radius: 2px;
}

.agreement__input:checked + .agreement__checkbox {
   background-color: #2196f3;
   border-color: #2196f3;
}

.agreement__link {
   color: #2196f3;
}

.modal-btn {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 10px 55px;
   font-weight: bold;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.06em;

   color: #ffffff;

   border: transparent;
   background: #188ce8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;
}

.modal__label:hover .modal__input {
   border: 1px solid #2196f3;
}

.modal__input:focus {
   border: 1px solid #2196f3;
}

.modal__input:not(:placeholder-shown) {
   border: 1px solid #2196f3;
}

.modal__label:hover .modal__icon,
.modal__input:focus + .modal__icon,
.modal__input:not(:placeholder-shown) + .modal__icon {
   fill: #2196f3;
}
