.providing {
   padding-top: 0px;
   &__discription {
      display: flex;
   }
   &__card {
      position: relative;
      margin-right: 30px;
      &:last-child {
         margin-right: 0;
      }
   }
   &__card-description {
      position: absolute;
      bottom: 0;
      padding: 27px 0;
      width: 370px;
      height: 70px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: var(--primary-white-color);
      background-color: rgba(47, 48, 58, 0.8);
   }
}
