//логотип
.logo {
   font-family: Raleway;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;
   color: #000000;

   &__highlight {
      color: var(--accent-color);
   }
}

//заголовки н2
.section-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
}

// блок соц сетей
// .team__social--list {
//    display: flex;
//    align-items: center;
//    justify-content: center;
// }

// .team__social--wrapper {
//    margin-right: 10px;

//    &:last-child {
//       margin-right: 0px;
//    }
//    &:hover,
//    &:focus {
//       transition: var(--transition-property);
//    }
//    .team__social--link {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 44px;
//       height: 44px;
//       border-radius: 50%;
//       transition: var(--transition-property);
//    }
//    .team__social--icon {
//       width: 20px;
//       height: 20px;
//       margin: auto;
//       fill: #afb1b8;
//       transition: var(--transition-property);
//    }
// }

// .team__social--link:hover,
// .team__social--link:focus {
//    background-color: var(--accent-color);
//    transition: var(--transition-property);

// .team__social--wrapper:hover .team__social--icon,
// .team__social--wrapper:focus .team__social--icon {
//    fill: var(--primary-white-color);
//    transition: var(--transition-property);
// }

//// ссылки с футора

.footer .team__social-link {
   background-color: rgba(255, 255, 255, 0.1);
   &:hover,
   &:focus {
      background-color: var(--accent-color);
      transition: var(--transition-property);
   }
}

.footer .team__social-icon {
   fill: var(--primary-white-color);
}

.footer .footer__social-list {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.footer__social-title {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
   color: var(--primary-white-color);
}
